# Scripts and tests do not use any additional packages, that would be required to install
# Using written material needs only Python
# I would strongly recommend using Python 3, because this version was used in development environment. (Some parts of the code may not work on Python 1.0-2.7!)